<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Foresight Search Engine - Landing Page Design Mockup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../../static/search/css/index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="flex-align-center-justify-center-direction-column view-height p-all">
    <img class="foresight-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/312465/Foresight%20Logo-01.svg">
    <form>
      <div class="foresight-search-bar fill-space m-bottom">
        <input type="text" placeholder="Search the WikiLaw ...">
        <i class="material-icons">search</i>
      </div>
      <div class="m-bottom text-center">
        <button class="btn primary m-right" type="submit">Search</button>
        <button class="btn dark-grey">Browse News</button>
      </div>
    </form>
    <div class="text-center text-grey font-lighter">
      <div>© ForeSight, 2022</div>
      <div>All rights reserved.</div>
    </div>
  </div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js'></script>

</body>
</html>